//Colour and font variables

$border-color: #4cacaf;
$text-color: #333;
$background-color: #fff8f8;
$primary-color: #1f1f80;
$li-bg-color: #b0c0e6;
$completed-color: #c76262;
$del-btn-bg: #000;

$font-family: Arial, Helvetica, sans-serif;